<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.dao.OrderMapper">
    <sql id="Base_Column_List">
        id, user_id, order_sn, order_status, consignee, mobile, address, message, goods_price,
          freight_price, coupon_price, integral_price, groupon_price, order_price, actual_price,
          pay_id, pay_time, ship_sn, ship_channel, ship_time, confirm_time, comments, end_time,
          add_time, update_time, deleted
    </sql>
    <resultMap id="user" type="com.example.common.entity.Order">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus" />
        <result column="consignee" jdbcType="VARCHAR" property="consignee" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="message" jdbcType="VARCHAR" property="message" />
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
        <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
        <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
        <result column="integral_price" jdbcType="DECIMAL" property="integralPrice" />
        <result column="groupon_price" jdbcType="DECIMAL" property="grouponPrice" />
        <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
        <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
        <result column="pay_id" jdbcType="VARCHAR" property="payId" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="ship_sn" jdbcType="VARCHAR" property="shipSn" />
        <result column="ship_channel" jdbcType="VARCHAR" property="shipChannel" />
        <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
        <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
        <result column="comments" jdbcType="SMALLINT" property="comments" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>
    <select id="selective" resultMap="user" parameterType="JsonData">
        select
        <include refid="Base_Column_List"/>
        FROM litemall_order
        <trim prefix="where" prefixOverrides="and">
            <if test="map.userId != null">
                and user_id = #{map.userId,jdbcType=INTEGER}
            </if>
            <if test="map.weixinOpenid != null">
                and weixin_openid = #{map.weixinOpenid,jdbcType=VARCHAR}
            </if>
            <if test="map.orderDeleted != null">
                and deleted = #{map.orderDeleted}
            </if>
            <if test="map.orderStatus != null">
                and order_status = #{map.orderStatus}
            </if>
        </trim>
        <if test="map.orderSort != null and map.orderSort !='' and map.orderOrder != null and map.orderOrder != ''">
            order by ${map.orderSort} ${map.orderOrder}
        </if>
    </select>

    <insert id="insertive" parameterType="JsonData">
        insert into litemall_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="map.username != null">
                username,
            </if>
            <if test="map.password != null">
                `password`,
            </if>
            <if test="map.gender != null">
                gender,
            </if>
            <if test="map.birthday != null">
                birthday,
            </if>
            <if test="map.lastLoginTime != null">
                last_login_time,
            </if>
            <if test="map.lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="map.userLevel != null">
                user_level,
            </if>
            <if test="map.nickname != null">
                nickname,
            </if>
            <if test="map.mobile != null">
                mobile,
            </if>
            <if test="map.avatar != null">
                avatar,
            </if>
            <if test="map.weixinOpenid != null">
                weixin_openid,
            </if>
            <if test="map.status != null">
                `status`,
            </if>
            <if test="map.addTime != null">
                add_time,
            </if>
            <if test="map.updateTime != null">
                update_time,
            </if>
            <if test="map.deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="map.username != null">
                #{map.username,jdbcType=VARCHAR},
            </if>
            <if test="map.password != null">
                #{map.password,jdbcType=VARCHAR},
            </if>
            <if test="map.gender != null">
                #{map.gender,jdbcType=TINYINT},
            </if>
            <if test="map.birthday != null">
                #{map.birthday,jdbcType=DATE},
            </if>
            <if test="map.lastLoginTime != null">
                #{map.lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.lastLoginIp != null">
                #{map.lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="map.userLevel != null">
                #{map.userLevel,jdbcType=TINYINT},
            </if>
            <if test="map.nickname != null">
                #{map.nickname,jdbcType=VARCHAR},
            </if>
            <if test="map.mobile != null">
                #{map.mobile,jdbcType=VARCHAR},
            </if>
            <if test="map.avatar != null">
                #{map.avatar,jdbcType=VARCHAR},
            </if>
            <if test="map.weixinOpenid != null">
                #{map.weixinOpenid,jdbcType=VARCHAR},
            </if>
            <if test="map.status != null">
                #{map.status,jdbcType=TINYINT},
            </if>
            <if test="map.addTime != null">
                #{map.addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.updateTime != null">
                #{map.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.deleted != null">
                #{map.deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updative" parameterType="JsonData">
        update litemall_order
        <set>
            <if test="map.id != null">
                id = #{map.id,jdbcType=INTEGER},
            </if>
            <if test="map.userId != null">
                user_id = #{map.userId,jdbcType=INTEGER},
            </if>
            <if test="map.orderSn != null">
                order_sn = #{map.orderSn,jdbcType=VARCHAR},
            </if>
            <if test="map.orderStatus != null">
                order_status = #{map.orderStatus,jdbcType=SMALLINT},
            </if>
            <if test="map.consignee != null">
                consignee = #{map.consignee,jdbcType=VARCHAR},
            </if>
            <if test="map.mobile != null">
                mobile = #{map.mobile,jdbcType=VARCHAR},
            </if>
            <if test="map.address != null">
                address = #{map.address,jdbcType=VARCHAR},
            </if>
            <if test="map.message != null">
                message = #{map.message,jdbcType=VARCHAR},
            </if>
            <if test="map.goodsPrice != null">
                goods_price = #{map.goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.freightPrice != null">
                freight_price = #{map.freightPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.couponPrice != null">
                coupon_price = #{map.couponPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.integralPrice != null">
                integral_price = #{map.integralPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.grouponPrice != null">
                groupon_price = #{map.grouponPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.orderPrice != null">
                order_price = #{map.orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.actualPrice != null">
                actual_price = #{map.actualPrice,jdbcType=DECIMAL},
            </if>
            <if test="map.payId != null">
                pay_id = #{map.payId,jdbcType=VARCHAR},
            </if>
            <if test="map.payTime != null">
                pay_time = #{map.payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.shipSn != null">
                ship_sn = #{map.shipSn,jdbcType=VARCHAR},
            </if>
            <if test="map.shipChannel != null">
                ship_channel = #{map.shipChannel,jdbcType=VARCHAR},
            </if>
            <if test="map.shipTime != null">
                ship_time = #{map.shipTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.confirmTime != null">
                confirm_time = #{map.confirmTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.comments != null">
                comments = #{map.comments,jdbcType=SMALLINT},
            </if>
            <if test="map.endTime != null">
                end_time = #{map.endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.addTime != null">
                add_time = #{map.addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.updateTime != null">
                update_time = #{map.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="map.deleted != null">
                deleted = #{map.deleted,jdbcType=BIT},
            </if>
        </set>
        <trim prefix="where" prefixOverrides="and">
            <if test="map.orderId != null">
                and id = #{map.orderId,jdbcType=INTEGER}
            </if>
            <if test="map.weixinOpenid != null">
                and weixin_openid = #{map.weixinOpenid,jdbcType=VARCHAR}
            </if>
        </trim>
    </update>

    <insert id="insert" parameterType="com.example.common.entity.Order" useGeneratedKeys="true" keyProperty="id">
        insert into litemall_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderSn != null">
                order_sn,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="consignee != null">
                consignee,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="goodsPrice != null">
                goods_price,
            </if>
            <if test="freightPrice != null">
                freight_price,
            </if>
            <if test="couponPrice != null">
                coupon_price,
            </if>
            <if test="integralPrice != null">
                integral_price,
            </if>
            <if test="grouponPrice != null">
                groupon_price,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="actualPrice != null">
                actual_price,
            </if>
            <if test="payId != null">
                pay_id,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="shipSn != null">
                ship_sn,
            </if>
            <if test="shipChannel != null">
                ship_channel,
            </if>
            <if test="shipTime != null">
                ship_time,
            </if>
            <if test="confirmTime != null">
                confirm_time,
            </if>
            <if test="comments != null">
                comments,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="orderSn != null">
                #{orderSn,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=SMALLINT},
            </if>
            <if test="consignee != null">
                #{consignee,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null">
                #{goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="freightPrice != null">
                #{freightPrice,jdbcType=DECIMAL},
            </if>
            <if test="couponPrice != null">
                #{couponPrice,jdbcType=DECIMAL},
            </if>
            <if test="integralPrice != null">
                #{integralPrice,jdbcType=DECIMAL},
            </if>
            <if test="grouponPrice != null">
                #{grouponPrice,jdbcType=DECIMAL},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualPrice != null">
                #{actualPrice,jdbcType=DECIMAL},
            </if>
            <if test="payId != null">
                #{payId,jdbcType=VARCHAR},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shipSn != null">
                #{shipSn,jdbcType=VARCHAR},
            </if>
            <if test="shipChannel != null">
                #{shipChannel,jdbcType=VARCHAR},
            </if>
            <if test="shipTime != null">
                #{shipTime,jdbcType=TIMESTAMP},
            </if>
            <if test="confirmTime != null">
                #{confirmTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=SMALLINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
</mapper>