<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goods.dao.BrandMapper">
    <sql id="Base_Column_List">
        id, `name`, `desc`, pic_url, sort_order, floor_price, add_time, update_time, deleted
    </sql>
    <resultMap id="brand" type="com.example.common.entity.Brand">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
        <result column="floor_price" jdbcType="DECIMAL" property="floorPrice" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>
    <select id="selective" resultMap="brand" parameterType="JsonData">
        select
        <include refid="Base_Column_List"/>
        FROM litemall_brand
        <trim prefix="where" prefixOverrides="and">
            <if test="map.brandDeleted != null">
                and `deleted` = #{map.brandDeleted,jdbcType=INTEGER}
            </if>
            <if test="map.brandId != null">
                and id = #{map.brandId,jdbcType=INTEGER}
            </if>
        </trim>
        <if test="map.brandSort != null and map.brandSort !='' and map.brandOrder != null and map.brandOrder != ''">
            order by ${map.brandSort} ${map.brandOrder}
        </if>
    </select>
</mapper>