<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.market.dao.AdvertisementMapper">
    <sql id="Base_Column_List">
        id, `name`, link, url, `position`, content, start_time, end_time, enabled, add_time, update_time, deleted
    </sql>
    <resultMap id="advertisement" type="com.example.common.entity.Advertisement">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="position" jdbcType="TINYINT" property="position" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="enabled" jdbcType="BIT" property="enabled" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>
    <select id="selective" resultMap="advertisement" parameterType="JsonData">
        select
        <include refid="Base_Column_List"/>
        FROM litemall_ad
        <trim prefix="where" prefixOverrides="and">
            <if test="map.name != null and map.name != ''">
                and `name` LIKE #{map.name,jdbcType=VARCHAR}
            </if>
            <if test="map.content != null and map.content != ''">
                and `content` LIKE #{map.content,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <update id="updateById" parameterType="com.example.common.entity.Advertisement">
        update litemall_ad
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                link = #{link,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                `position` = #{position,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="deleteById" parameterType="java.lang.Integer">
        update litemall_ad set deleted = 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="com.example.common.entity.Advertisement">
        insert into litemall_ad
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="position != null">
                `position`,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                #{link,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
</mapper>