<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.market.dao.TopicMapper">
    <sql id="Base_Column_List">
        id, title, subtitle, price, read_count, pic_url, sort_order, goods, add_time, update_time, deleted, content
    </sql>
    <resultMap id="topic" type="com.example.common.entity.Topic">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="read_count" jdbcType="VARCHAR" property="readCount" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="goods" jdbcType="VARCHAR" property="goods" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>
    <select id="selective" resultMap="topic" parameterType="JsonData">
        select
        <include refid="Base_Column_List"/>
        FROM litemall_topic
        <trim prefix="where" prefixOverrides="and">
            <if test="map.id != null and map.id !=''">
                and `id` LIKE #{map.id,jdbcType=INTEGER}
            </if>
            <if test="map.title != null and map.title !=''">
                and `title` LIKE #{map.title,jdbcType=VARCHAR}
            </if>
            <if test="map.subtitle != null and map.subtitle !=''">
                and `subtitle` LIKE #{map.subtitle,jdbcType=VARCHAR}
            </if>
        </trim>
        <if test="map.topicSort != null and map.topicSort !='' and map.topicOrder != null and map.topicOrder != ''">
            order by ${map.topicSort} ${map.topicOrder}
        </if>
        <if test="map.sort != null and map.sort !='' and map.order != null and map.order != ''">
            order by ${map.sort} ${map.order}
        </if>
    </select>

    <insert id="insert" parameterType="com.example.common.entity.Topic">
        insert into litemall_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="subtitle != null">
                subtitle,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="readCount != null">
                read_count,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="goods != null">
                goods,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="readCount != null">
                #{readCount,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="goods != null">
                #{goods,jdbcType=VARCHAR,typeHandler=com.example.common.mybatis.JsonIntegerArrayTypeHandler},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.common.entity.Topic">
        update litemall_topic
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                subtitle = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="readCount != null">
                read_count = #{readCount,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=INTEGER},
            </if>
            <if test="goods != null">
                goods = #{goods,jdbcType=VARCHAR,typeHandler=com.example.common.mybatis.JsonIntegerArrayTypeHandler},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update litemall_topic set deleted = 1
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>